<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Blockchain</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css') }}">    <style>
      label {
          display: inline-block;
          text-align: right;
      }
    </style>
  </head>
  <body>
    <section class="hero is-dark">
      <div class="hero-body">
        <div class="container">
          <h1 class="title"> The Chain </h1>
          <h2 class="subtitle"> Blockchain implementation written in Python using Flask. </h2>
        </div>
      </div>
      <div class="hero-foot">
          <nav class="tabs">
              <div class="container">
                  <ul>
                      <li class="is-active"><a href='/'>Home</a></li>
                      <li><a href='/transaction'>Transaction</a></li>
                      <li><a href='/mine'>Mine</a></li>
                      <li><a href='/register'>Register a Node</a></li>
                      <li><a href='/view-chain'>Chain</a></li>
                  </ul>
              </div>
          </nav>
      </div>
    </section>

    <div class="container">
      <br>

      <p class="subtitle"> Blockchain implementation written in Python using Flask. </p> <br>
      <p class="subtitle"> This is a full blockchain simulation which allows the user to make transactions and mine blocks to verify the ledger. </p>


    </div>
  </body>
</html>
