<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mining</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css') }}">
  </head>
  <body>
    <section class="hero is-dark">
      <div class="hero-body">
        <div class="container">
          <h1 class="title"> Mine </h1>
          <h2 class="subtitle"> Mine a block. </h2>
        </div>
      </div>
      <div class="hero-foot">
          <nav class="tabs">
              <div class="container">
                  <ul>
                      <li><a href='/'>Home</a></li>
                      <li><a href='/transaction'>Transaction</a></li>
                      <li><a href='/mine' class="is-active">Mine</a></li>
                  </ul>
              </div>
          </nav>
      </div>
    </section>
    <div class="container">
      <br>
      <p class="subtitle"> Press the mine button below to mine a new block. This will add the current transactions to a new block along with a transaction for the mining operation which will include the node ID.</p><br>
      <p class="subtitle"> Block mined: <pre>{{response}}</pre> </p> <br>
      <button onclick="location.href='/mine'" type="button" class="button is-rounded is-link"> Mine </button>
    </div>
  </body>
</html>
