<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css') }}">
  </head>
  <body>
    <section class="hero is-dark">
      <div class="hero-body">
        <div class="container">
          <h1 class="title"> Register </h1>
          <h2 class="subtitle"> Register a new node. </h2>
        </div>
      </div>
      <div class="hero-foot">
          <nav class="tabs">
              <div class="container">
                  <ul>
                      <li><a href='/'>Home</a></li>
                      <li><a href='/transaction' class="is-active">Transaction</a></li>
                      <li><a href='/mine'>Mine</a></li>
                      <li><a href='/register'>Register a Node</a></li>
                  </ul>
              </div>
          </nav>
      </div>
    </section>
    <div class="container">
      <br>
      <p class="subtitle"> Register a new node on the blockchain.</p>
      <form method="POST" class="form">
        <label class="label">Address:</label>
        <input name="node" class="input" placeholder="Node address"><br><br>
        <input type="submit" value="Register Node" class="button is-rounded is-link">
      </form>
      <br>
      {{registration}}
    </div>
  </body>
</html>
