<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Make a transaction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css') }}">
  </head>
  <body>
    <section class="hero is-dark">
      <div class="hero-body">
        <div class="container">
          <h1 class="title"> Transaction </h1>
          <h2 class="subtitle"> Make a new transaction. </h2>
        </div>
      </div>
      <div class="hero-foot">
          <nav class="tabs">
              <div class="container">
                  <ul>
                      <li><a href='/'>Home</a></li>
                      <li><a href='/transaction' class="is-active">Transaction</a></li>
                      <li><a href='/mine'>Mine</a></li>
                      <li><a href='/register'>Register a Node</a></li>
                      <li><a href='/view-chain'>Chain</a></li> 
                  </ul>
              </div>
          </nav>
      </div>
    </section>
    <div class="container">
      <br>
      <p class="subtitle"> Make a new transaction on the chain. Fill in the form below and press the "Make transaction" button in order to add the transaction to the list of transactions. The blockchain must then be mined which will add the current list of transactions to a new block in the chain.</p>
      <form method="POST" class="form">
        <label class="label">Sender:</label>
        <input name="sender" class="input" placeholder="Sender name"><br>
        <label class="label">Reciever:</label>
        <input name="reciever" class="input" placeholder="Reciever name"><br>
        <label class="label">Amount:</label>
        <input name="amount" class="input" placeholder="Amount"><br><br>
        <input type="submit" value="Make transaction" class="button is-rounded is-link">
      </form>
      <br>
      {{transaction}}
    </div>
  </body>
</html>
