<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Make a transaction</title>
    <style>
      label {
          display: inline-block;
          text-align: right;
      }
    </style>
  </head>
  <body>
    <h1> Blockchain </h1>
    <form method="POST">
      <label>Sender:</label>
      <input name="sender"><br>
      <label>Reciever:</label>
      <input name="reciever"><br>
      <label>Amount:</label>
      <input name="amount"><br>
      <input type="submit" value="Make transaction">
    </form>
  </body>
</html>
